/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #002855;
  padding: 10px;
  border-radius: 10px;
  width: 100%; /* Make the navbar extend the full width */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.profile-icon {
  background-color: #8B9DC3;
  color: white;
  border-radius: 50%;
  padding: 10px;
}

/* Courses Content Styles */
.courses-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.courses-content {
  width: 80%;
  max-width: 1200px;
  margin-top: 20px;
}

.courses-content h1 {
  color: white;
  /* text-shadow: 
  -1px -1px 0 #002855,  
   1px -1px 0 #002855,
  -1px  1px 0 #002855,
   1px  1px 0 #002855; */
}

.course-list {
  display: flex;
  flex-direction: column;
}

.course-item {
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: rgba(207, 209, 215, 0.9); /* Add opacity */
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s; /* Include opacity in transition */
}

.course-item:hover {
  background-color: #f0f0f8;
  opacity: 1; /* Change opacity on hover */
}

.course-item h2 a {
  color: #3B5998; /* Change color of the title */
  text-decoration: none;
}

.course-item h2 a:hover {
  text-decoration: underline;
}

.course-details {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.course-details ul {
  list-style-type: none;
  padding: 0;
}

.course-details li {
  margin: 10px 0;
}

.course-details a {
  color: #002855;
  text-decoration: none;
}

.course-details a:hover {
  text-decoration: underline;
}
