/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('../../public/joblistings.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 53, 56, 0.8); /* Dark overlay with opacity */
  z-index: -1;
  pointer-events: none;
}

/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #002855;
  padding: 20px 40px; /* Increased padding */
  border-radius: 10px;
  width: 100%; /* Make the navbar extend the full width */
  box-sizing: border-box; /* Include padding in the width calculation */
  font-size: 1.2rem; /* Increased font size */
  margin-bottom: 20px; /* Add margin at the bottom */
}

.navbar-logo img {
  height: 50px; /* Increased logo size */
}

.navbar-search {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Make the search bar grow to fill the available space */
  margin-left: 20px;
  margin-right: 20px;
}

.search-input {
  width: 100%; /* Adjust width to make search bar longer */
  padding: 10px;
  border-radius: 5px;
  border: none; /* Remove border */
  outline: none; /* Remove outline */
  box-shadow: none; /* Remove box shadow */
  font-size: 1rem; /* Ensure consistent font size */
  height: 40px; /* Ensure consistent height */
}

.search-button {
  background-color: #f8f8f8;
  color: rgb(26, 27, 70);
  border: none;
  padding: 10px; /* Adjust padding for consistent button height */
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; /* Ensure the button height matches the input and navbar */
}

.search-button i {
  font-size: 18px;
}

.search-button:hover {
  background-color: #D3D8E8;
}

.navbar-links a {
  color: white;
  margin: 0 15px; /* Increased margin for better spacing */
  text-decoration: none;
}

.profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.profile-initials {
  background-color: #8B9DC3;
  color: white;
  border-radius: 50%;
  padding: 10px;
  font-weight: bold;
  width: 50px; /* Increased size */
  height: 50px; /* Increased size */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.dashboard-main {
  padding: 20px;
}
